# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# hira add
templates/hello-helm-template/.git
templates/hello-helm-template/README.md
templates/bad-helm-template/.git
templates/bad-helm-template/check-template
templates/bad-helm-template/README.md
templates/hello-helm-template/tests

